.logo{
  width: 80px;
}
.principal{
  display: flex;
  flex-wrap: wrap;
  margin: 0 3%;
}
.marca{
  padding-top: 10px;
}
.fale{
  text-align: right;
  margin-right: 5px;
}
.filhos{
  flex: 49%;
  cursor: pointer;
}
.filhos1{
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
}
.links{
  flex: 20%;
  cursor: pointer;
  font-size: 20px;
}
.cor{
  width: 100%;
}
.pai{
  display: flex;
  flex-wrap: wrap;
  margin: 0 3%;
}
.filho{
  text-align: center;
  flex: 90%;
  font-size: 18px;
}
.linha{
  border-bottom: 1px solid #000;
  width: 100px;
  margin: auto;
  padding-bottom: 10px;
}
.bola{
  border: 1px solid #000;
  border-radius: 45%;
  height: 30px;
  width: 10%;
  margin-left: 1%;
}
.ima{
  display: flex;
  flex-wrap: wrap;
}
.siza{
  background: #544747;
}
.preto{
  background: #000;
}
.verde{
  background: #109e19;
}
.azul{
  background: blue;
}
.vermelho{
  background: red;
}
